.UserRight{
    float: left;
    margin-top: 150px;
    width: 1400px;
    border: 2px darkred solid;
    height: 600px;
}
.UserTitle{
    margin-left: 20px;
}
.userInfo>span{
    color:#909090;
}
.userInfo{
    font-size: 20px;
    margin-left: 100px;
    padding-top: 50px;
}
.UserRight>a{
    float: right;
    margin-right: 50px;
    color: blue;
}