<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.blog.model.Article">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="mode" jdbcType="INTEGER" property="mode" />
    <result column="view_num" jdbcType="INTEGER" property="viewNum" />
    <result column="sp_col_id" jdbcType="INTEGER" property="spColId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.blog.model.Article">
    <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
  </resultMap>
  <sql id="Base_Column_List">
    aid, uid, article_title, date, type, mode, view_num, sp_col_id
  </sql>
  <sql id="Blob_Column_List">
    article_content
  </sql>

  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    where view_num > 100 and mode = 0
  </select>

  <select id="getArticleInfoByUid" parameterType="java.lang.Integer" resultType="java.util.Map">
    select count(*) as article_num,sum(view_num) as total_view
    from article
    where uid = #{uid}
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from myblog.article
    where aid = #{aid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from myblog.article
    where aid = #{aid,jdbcType=INTEGER}
  </delete>

  <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    where uid = #{uid}
  </select>
  <select id="getNewArticle" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    where uid = #{uid} and mode = 0
    order by date desc
    limit 5
  </select>
  <select id="selectByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    where article_title like CONCAT ("%",#{keyword},"%") or article_content like CONCAT ("%",#{keyword},"%") and mode = 0
  </select>
  <insert id="insert" parameterType="com.blog.model.Article">
    insert into myblog.article (aid, uid, article_title,
      date, type, mode, 
      view_num, sp_col_id, article_content
      )
    values (#{aid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{articleTitle,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}, #{mode,jdbcType=INTEGER}, 
      #{viewNum,jdbcType=INTEGER}, #{spColId,jdbcType=INTEGER}, #{articleContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateViewNum" parameterType="java.lang.Integer">
    update article
    set view_num = view_num + 1
    where aid = #{aid}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.blog.model.Article">
    update myblog.article
    <set>
      <if test="articleTitle!=null and articleTitle != '' ">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="date!=null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>

      <if test="type!=null ">
        type = #{type,jdbcType=INTEGER},
      </if>

      <if test="mode!=null">
        mode = #{mode,jdbcType=INTEGER},
      </if>

      <if test="spColId!=null">
        sp_col_id = #{spColId,jdbcType=INTEGER},
      </if>

      <if test="articleContent!=null and articleContent!=''">
        article_content = #{articleContent,jdbcType=LONGVARCHAR}
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>