<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.CommentMapper">
<resultMap id="comment" type="com.blog.model.Comment">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent"/>
    <result column="comment_date" jdbcType="TIMESTAMP" property="commentDate" />
    <result column="comment_of_cid" jdbcType="INTEGER" property="commentOfCid"/>
</resultMap>
    <sql id="all">
        aid, cid, uid, comment_of_cid, comment_content, comment_date
    </sql>
    <insert id="insertComment" parameterType="com.blog.model.Comment">
        insert into comment (aid, cid, uid, comment_of_cid, comment_content, comment_date
        )
        <if test="cid!=null and cid!=0">
        values (#{aid}, #{cid}, #{uid},
        #{commentOfCid}, #{commentContent}, #{commentDate})
        </if>
        <if test="cid == null or cid==0">
        select #{aid}, IFNULL(Max(cid),0)+1, #{uid}, #{commentOfCid}, #{commentContent}, #{commentDate}
            from comment
            where aid = #{aid}
        </if>


    </insert>
    <delete id="deleteComment" parameterType="com.blog.model.CommentKey">
        delete from comment
        where comment.aid = #{aid} and comment.cid = #{cid}
    </delete>

</mapper>