<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.MarkedMapper">
  <resultMap id="BaseResultMap" type="com.blog.model.Marked">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <id column="mark_id" jdbcType="INTEGER" property="markId" />
    <result column="mark_name" jdbcType="VARCHAR" property="markName" />
  </resultMap>
  <resultMap id="ResultWithArticle" type="com.blog.model.Marked">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <id column="mark_id" jdbcType="INTEGER" property="markId" />
    <result column="mark_name" jdbcType="VARCHAR" property="markName" />
    <collection property="articleList" ofType="com.blog.model.Article" column="{uid = uid, markId=mark_id}"
                select="getArticleInMarked"/>
  </resultMap>

  <sql id="Base_Column_List">
    uid, mark_id, mark_name
  </sql>
  <select id="getArticleInMarked" resultMap="com.blog.mapper.ArticleMapper.BaseResultMap" parameterType="java.util.Map">
    SELECT
    a.*
    FROM
    article a
    WHERE
    a.aid IN (
    SELECT
    aid
    FROM
    marked_article ma
    WHERE
    ma.uid = #{uid}
    AND ma.mark_id = #{markId}
    )
  </select>
  <select id="getMaxMarkId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select max(mark_id)
    from marked
    where uid = #{uid}
  </select>
  <select id="getMarkedArticles" resultMap="ResultWithArticle">
    select
    <include refid="Base_Column_List" />
    from marked
    where uid = #{uid} and mark_id = #{markId}
  </select>
  <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from marked
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <select id="getMarkId" parameterType="java.util.Map" resultType="Integer">
    select mark_id
    from marked
    where uid = #{uid,jdbcType=INTEGER} and mark_name = #{markName}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.blog.model.MarkedKey">
    delete from marked
    where uid = #{uid,jdbcType=INTEGER}
      and mark_id = #{markId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByName" parameterType="java.util.Map">
    delete from marked
    where uid = #{uid}
    and mark_name = #{markName}
  </delete>

  <insert id="insert" parameterType="com.blog.model.Marked">
    insert into marked (uid, mark_id, mark_name
      )
    values (#{uid,jdbcType=INTEGER}, #{markId,jdbcType=INTEGER}, #{markName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.blog.model.Marked">
    update marked
    set mark_name = #{markName,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
      and mark_id = #{markId,jdbcType=INTEGER}
  </update>
</mapper>