<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.SpecialColumnMapper">
    <resultMap id="BaseResultMap" type="com.blog.model.SpecialColumn">
        <id column="sp_col_id" jdbcType="INTEGER" property="spColId" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="sp_col_name" jdbcType="VARCHAR" property="spColName" />
    </resultMap>
    <resultMap id="ResultWithArticle" type="com.blog.model.SpecialColumn">
        <id column="sp_col_id" jdbcType="INTEGER" property="spColId" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="sp_col_name" jdbcType="VARCHAR" property="spColName" />
        <collection property="articleList" ofType="com.blog.model.Article" column="{spColId = sp_col_id}"
                    select="getArticleInSP"/>
    </resultMap>
    <select id="getSpecialColumnsByUid" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from special_column
        where uid = #{uid}
    </select>
    <select id="getSPWithArticle" parameterType="java.util.Map" resultMap="ResultWithArticle">
        select * from special_column
        where sp_col_id = #{sp_col_id}
    </select>
    <select id="getArticleInSP" parameterType="java.util.Map" resultMap="com.blog.mapper.ArticleMapper.BaseResultMap">
    select a.* from article a
    where a.sp_col_id = #{spColId}
    </select>
    <insert id="addSP" parameterType="com.blog.model.SpecialColumn">
        insert into special_column (uid , sp_col_name)
        values(#{uid}, #{sp_col_name})
    </insert>


</mapper>