.search{
    margin-left: 600px;
    position: absolute;
    width: 500px;
    display: flex;
}
.search input{
    float: left;
    flex: 4;
    height: 30px;
    outline: none;
    border: 1px solid #20a0ff;
    box-sizing: border-box;
    padding-left: 10px;
}
.search button{
    float: right;
    flex: 1;
    height: 30px;
    background-color: #20a0ff;
    color: white;
    border-style: none;
    outline: none;
}
.search button i{
    font-style: normal;
}
.search button:hover{
    font-size: 16px;
}

#searchArticle{
    left: 450px;
    position: absolute;
    top:150px;
    width: 800px;
}

#searchArticle>ul>li{
    padding: 18px 24px 13px 24px;
    background: #fff;
    border: 1px solid #C8C8C8;
    position: relative;
    height: 100px;
    margin-top: 10px;
}

.searchList{
    margin-left: 5px;
    margin-bottom: 5px;
}
.searchList>h2{
    margin-top: 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.searchList>p{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.viewNum{
    float:right
}
.viewNum>img{
    width: 20px;
    height: auto;
}


