.prev-disable{
    disabled:"disabled";
    color: #909090;
}
.next-disable{
    disabled:"disabled";
    color: #909090;
}
.paginationDiv>button{
    display: inline-block;
    cursor:pointer;
    background-color: transparent;
    font-size: 20px;
    border: 0;
    margin-left: 2px;
}
.paginationDiv{
    display: inline-block;
    margin: 0 auto;
}
.pageButton{
    text-align: center;
    display: inline-block;
    width: 25px;
    cursor:pointer;
}
.NumButton{
    border: 0;
    cursor:pointer;
    background-color: transparent;
    font-size: 20px;
    margin-left: 4px;
}
.paginationDiv{
    color: #000000;
    display: inline-block;
}
.rightPageDiv{
    margin-left:100px;
    display: inline-block;
}
