.articleRight{
    width: 1100px;
    margin-left: 40px;
    display: inline-block;
    position: absolute;
}
.authorInfo{
    font-size: 20px;
    display: inline-block;
    margin-left: 120px;
    padding: 20px;
    width: 300px;
    float: left;
    height: 240px;
    border: 2px solid #20a0ff;
}
.articlePart{
    min-height: 400px;
    border: 0px solid #20a0ff;
}
.articleBody{
    display: inline-block;
    position: absolute;
    top:150px;
}
.button-store{
    border: 0;
    background-color: #00a1d6;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.follow{
    float: right;
    margin-top: 30px;
    border: 0;
    background-color: #00a1d6;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.articleContent{
    font-size: 18px;
    line-height: 1.5;
}
.title{
    font-size: 26px;
}
#CommentTextArea{
    width: 1000px;
    height: 80px;
    font-size: 20px;
}
#submitComment{
    height: 80px;
    width: 80px;
    border: 0;
    background-color: #00a1d6;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
}
#Comments{
    display: inline-block;
    margin-top: 50px;
}
.UserInfoTable{
    text-align: center;
}
.viewNum{
    margin-right: 20px;
}